<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1083506218783-knurttnn2joneojinu7q78i0lbge0dd2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1083506218783-knurttnn2joneojinu7q78i0lbge0dd2</string>
	<key>API_KEY</key>
	<string>AIzaSyBNA1_k2HmNX5_OPf4vn3YAimhbPQ1KbAw</string>
	<key>GCM_SENDER_ID</key>
	<string>1083506218783</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dokkar.coupons</string>
	<key>PROJECT_ID</key>
	<string>couponati</string>
	<key>STORAGE_BUCKET</key>
	<string>couponati.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1083506218783:ios:af3038eb4d2a299933422a</string>
	<key>DATABASE_URL</key>
	<string>https://couponati.firebaseio.com</string>
</dict>
</plist>